<!-----join화면과 login화면 둘다 로그인 기능을 넣기위해서 만듬-->
.social-login 
    button.social-login__github
        span
            i.fab.fa-github
        |Continue with Github     

    button.social-login__facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook     