extends layouts/main.pug

block content 
    .form-container 
        form(action=routes.changepasswor,method="post")
            input(type="password", name="currentpassword",placeholder="Current Password")
            input(type="password", name="newpassword",placeholder="New Oassword")
            input(type="password", name="verifynewpassword",placeholder="Verify New Oassword") 
            input(type="submit", value="Log In")
