extends layouts/main.pug
include mixin/videoblock
block content 
    .videos
        each abc in videos1
            +videoblock({
                id:abc.id,
                title:abc.title,
                views:abc.views,
                videoFile:abc.videoFile




            })